<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
	    <style type="text/css">
	    	img{
	    		width: 150px;
	    	}
	    </style>
	</head>
	<body>
		<a href="{:U('add',array('type'=>2,'id'=>$_GET['id']))}" class="btn btn-info">添加二级类</a>
		<table class="table table-hover">
			<tr class="active">
			  <th width="10%">序号</th>
			  <th width="15%">二级分类名称</th>
			  <th width="25%">添加时间</th>
			  <th width="20%" >操作</th>
			</tr>
			<foreach name="data" item='v' key='k'>
				<tr>
					<td>{$k+1}</td>
					<td>{$v['cname']}</td>
					<td>{$v['addtime']}</td>
					<td>
						<a href="{:U('index_type_list',array('id'=>$v['p_c_id'],'p_id'=>$v['p_id']))}" class="btn btn-sm btn-primary">编辑</a>
						<a href="{:U('del',array('id'=>$v['p_c_id'],'level'=>2,'p_id'=>$v['p_id']))}" class="btn btn-sm btn-danger">删除</a>
					</td>
				</tr>
			</foreach>
		</table>
	</body>
</html>
