<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
	    <style type="text/css">
			.pai{
				width: 300px;
				height: 42px;
				border: 2px solid #bdc3c7;
				border-radius:5px ;
			}	    	
	    </style>
	</head>
	<body>
		<div class="alert alert-success">添加视频分类</div>
		<form action="" method="post">
			<div class="form-group">
				<label for="exampleInputEmail1">价格区间范围</label>
				<input id="exampleInputEmail1" class="form-control" type="text" placeholder="请输入价格区间"  name="price_part">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">排序</label><br />
				<input class="pai" type="text" value="100" name="sort">
			</div>
			<input type="submit" class="btn btn-primary btn-block" value="确定" />
		</form>
	</body>
</html>
