<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>

	<link rel="stylesheet" href="__PUBLIC__/Admin/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="__PUBLIC__/jquery-1.8.2.min.js"></script>
	
</head>
<body>
	<div class="container-fluid">
	<div class="row-fluid">
	<div class="span12">

	<form action="" method='post'>
		<fieldset>
				<legend>添加问答</legend>
			<table class='table table-bordered table-hover'>
				<thead>
					<tr>
						<th colspan="2" class="btn btn-primary">基本信息</th>
					</tr>
				</thead>
				<tbody>
					<tr class="info">
						<td>用户名称</td>
						<td>
							<input type="title" name='member_name' value="" style="width: 40%;" placeholder="请输入商家名称"/>
						</td>
					</tr>
					<tr class="info">
						<td>评论内容</td>
						<td>
							<textarea name="question_content" rows="3" cols="" style="width: 40%;" placeholder="请输入评论内容，建议50~100字"></textarea>
						</td>
					</tr>
					
				</tbody>
			</table>
			<input type="hidden" name="merchant_id" value="{$merchant_id}" />
			<input type="submit" value="确认添加" class="btn btn-primary btn-block btn-large" />
		</fieldset>
	</form>

	</div>
	</div>
	</div>
	<script type="text/javascript">
//			给图片添加单机事件
			$("#uploadList li span").live('click',function(){
				$(this).parents('li').remove();
			});
			
	</script>
</body>
</html>