<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <!-- Loading Bootstrap -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <!-- Loading Flat UI -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
	    <script src="__PUBLIC__/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="dist/js/vendor/html5shiv.js"></script>
	      <script src="dist/js/vendor/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<table class="table table-hover">
			<tr class="active">
			  <th width="55">序号</th>
			  <th>用户名</th>
			  <th>评论内容</th>
			  <th>商家回复</th>
			  <th>操作</th>
			</tr>
			
			<foreach name="data" item='v' key='k'>
				<tr>
					<td>{$k+1}</td>
					<td>{$v['member_name']}</td>
					<td>{$v['question_content']}</td>
					<td>
						<if condition="$v['replay_content']">
							{$v['replay_content']}
						<else />
							暂无回复
						</if>
					</td>
					<td>
						<a href="javascript:;" class="btn btn-sm btn-danger" merchant_id="{$v['merchant_remark_id']}">删除</a>
					</td>
				</tr>
			</foreach>
		</table>
		<script type="text/javascript">
		
			//创建异步删除评价方法
			$(".btn-danger").click(function(){
				var id =$(this).attr('merchant_id');
				var This = $(this);
				$.ajax({
					type:"post",
					url:"{:U('del_discuss')}",
					data:{id:id},
					dataType:'json',
					success:function(phpdata){
						if(phpdata.type){
							This.parents('tr').remove();
						}
						alert(phpdata.content);
					}
				});
			})
		</script>
	</body>
</html>
