<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <!-- Loading Bootstrap -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <!-- Loading Flat UI -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
	    <script src="__PUBLIC__/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="dist/js/vendor/html5shiv.js"></script>
	      <script src="dist/js/vendor/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<!--<button type="button" class="btn btn-default">Default</button>-->
		<a href="{:U('merchant/video')}"><button type="button" class="btn btn-success">商家主页视屏管理</button></a>
		<!--<a href="javascript:;" class="save"><button type="button" class="btn btn-info">保存</button></a>
		<button type="button" class="btn btn-warning">Warning</button>
		<button type="button" class="btn btn-danger">Danger</button>-->
		<table class="table table-hover">
			<tr class="active">
			  <th>序号</th>
			  <th>商家名称</th>
			  <th>负责人</th>
			  <th>手机号</th>
			  <th>公司座机</th>
			  <th>邮箱</th>
			  <th>地区</th>
			  <th width="150">操作</th>
			</tr>
			<foreach name='data' item='v' key='k'>
				<tr>
					<td>{$k+1}</td>
					<td>{$v['m_name']}</td>
					<td>{$v['leagal_person']}</td>
					<td>{$v['mobile_phone']}</td>
					<td>{$v['phone']}</td>
					<td>{$v['email']}</td>
					<td>{$v['area']}</td>
					<td>
						<a href="{:U('picture/add',array('merchant_merchant_id'=>$v['merchant_id']))}" class="btn btn-sm btn-primary">添加案例</a>
						<a href="javascript:;" merchant_id="{$v['merchant_id']}" class="btn btn-sm btn-danger del">删除</a>
					</td>
				</tr>
			</foreach>
		</table>
		<script type="text/javascript">
//			给删除按钮添加单机事件
			$(".del").click(function(){
				var obj = $(this);
				var id = obj.attr('merchant_id');
				del(id,obj);
			})
		
//			创建删除方法
			function del(id,obj){
				$.ajax({
					type:"post",
					url:"{:U('del')}",
					data:{id:id},
					dataType:'json',
					success:function(phpdata){
						alert(phpdata.content);
						if(phpdata.type){
							obj.parents('tr').remove();
						}
					}
				});
			}
			
		</script>
	</body>
</html>
