<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>红色宫廷</title>
		<link rel="stylesheet" href="__PUBLIC__/Shop/special/special_seven/css/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/Shop/special/special_seven/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/Shop/special/special_seven/js/jquery-3.1.1.min.js" ></script>
	</head>
	<body>
		<include file="Common/special" />
		<!--首屏-->
		<div class="zero">
			<img src="__PUBLIC__/Shop/special/special_seven/img/index_00.png">
		</div>
		<div class="one">
			<img src="__PUBLIC__/Shop/special/special_seven/img/index_01.png">
		</div>
		
		<!--二屏-->
		<div class="two">
			<div class="son">
				<h2>如何布置迎宾区</h2>
				<div class="font">
					<p>长尾曳地的红嫁衣，骑士护卫的金色铠甲</p>
					<p>她把热情和慌张都潜藏，形影高傲漫酌奢华的香</p>
					<p>眉目间涌聚所有光芒，妙不可言……</p>
					<p>这组宫廷风红色设计</p>
					<p>将奢华与热情表现的妙不可言，将华丽和神秘诠释的淋漓尽致</p>
					<p>窄而高的空间里，复式舞台，多层背景的设计</p>
					<p>将舞台的纵深感做到极致</p>
					<p>本场空间设计</p>
					<p>适合舞台背景窄而厅高较高的场地</p>
				</div>
				<div class="t_left">
					<img src="__PUBLIC__/Shop/special/special_seven/img/two_01.png" width="359" height="359">
				</div>
				<div class="t_cot">
					<img src="__PUBLIC__/Shop/special/special_seven/img/two_02.png" width="684" height="325">
				</div>
				<div class="t_right">
					<img src="__PUBLIC__/Shop/special/special_seven/img/two_03.png" width="300" height="300">
				</div>
			</div>
		</div>
		
		<!--单品介绍-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_seven/img/bg_b.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_seven/img/three_01.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_seven/img/kx_01.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_01.png) no-repeat;">
							<b>产品名称：</b>
							<span>红色背景主幔</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/217.html" target="_blank">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_seven/img/three_02.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_seven/img/kx_02.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_02.png) no-repeat right;">
							<b>产品名称：</b>
							<span>悬挂水晶灯</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/128.html" target="_blank">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--2-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_seven/img/bg_f.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_seven/img/three_03.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_seven/img/kx_03.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_03.png) no-repeat;">
							<b>产品名称：</b>
							<span>主背景泡雕</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/187.html" target="_blank">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_seven/img/three_04.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_seven/img/kx_04.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_04.png) no-repeat right;">
							<b>产品名称：</b>
							<span>树脂相框</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/189.html" target="_blank">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--3-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_seven/img/bg_b.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_seven/img/three_05.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_seven/img/kx_05.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_05.png) no-repeat;">
							<b>产品名称：</b>
							<span>燕尾楼梯</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/190.html" target="_blank">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_seven/img/three_06.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_seven/img/kx_06.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_06.png) no-repeat right;">
							<b>产品名称：</b>
							<span>花艺拖尾造型</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/191.html" target="_blank">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--4-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_seven/img/bg_f.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_seven/img/three_07.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_seven/img/kx_07.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_07.png) no-repeat;">
							<b>产品名称：</b>
							<span>落地水晶灯</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/192.html" target="_blank">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_seven/img/three_08.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_seven/img/kx_08.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_08.png) no-repeat right;">
							<b>产品名称：</b>
							<span>跑马灯路引</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/215.html" target="_blank">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--5-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_seven/img/bg_b.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_seven/img/three_09.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_seven/img/kx_09.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_09.png) no-repeat;">
							<b>产品名称：</b>
							<span>路引绣球花排</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/233.html" target="_blank">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_seven/img/three_10.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_seven/img/kx_10.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_10.png) no-repeat right;">
							<b>产品名称：</b>
							<span>金色欧式罗马花盆</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/114.html" target="_blank">查看详情</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	
	<script>
		var num = $(".three .right_02 li").length;
		$(".three .right_02 li").click(function(){
			$(this).find("a").addClass("current").parent().siblings().find("a").removeClass("current");
			var li_index = $(this).index();
			$(this).parent().siblings(".three .left_01").find("li").eq(li_index).show().siblings().hide();
			$(this).parent().siblings(".three .left_02").find("li").eq(li_index).show().siblings().hide();
			$(this).parent().siblings(".three .right_03").find("li").eq(li_index).show().siblings().hide();
		});
	</script>
</html>
