<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>商城专题——第二季</title>
		<link rel="stylesheet" href="__PUBLIC__/Shop/special/special_two/css/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/Shop/special/special_two/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/Shop/special/special_two/js/jquery-3.1.1.min.js" ></script>
	</head>
	<body><include file="Common/special" />
		<!--首屏-->
		<div class="one">
			<img src="__PUBLIC__/Shop/special/special_two/img/index_01.png">
		</div>
		
		<!--第二屏-->
		<div class="two">
			<img src="__PUBLIC__/Shop/special/special_two/img/index_02.png" class="bg">
			<div class="son">
				<div class="big">
					<div class="small small1">
						<a href="javascript:;">02
							<div class="hide">
								<span>
									Lian之恋
								</span>
							</div>
						</a>
						<a href="javascript:;">04
							<div class="hide">
								<span>
									紫藤
								</span>
							</div>
						</a>
						<a href="javascript:;">06
							<div class="hide">
								<span>
									玻璃星球
								</span>
							</div>
						</a>
						<a href="javascript:;">08
							<div class="hide">
								<span>
									星幕
								</span>
							</div>
						</a>
					</div>
					<div class="small small2">
						<a href="javascript:;">03
							<div class="hide">
								<span>
									绣球藤
								</span>
							</div>
						</a>
						<a href="javascript:;">05
							<div class="hide">
								<span>
									灯光足迹
								</span>
							</div>
						</a>
						<a href="javascript:;">07
							<div class="hide">
								<span>
									花艺圆环
								</span>
							</div>
						</a>
						<a href="javascript:;">01
							<div class="hide">
								<span>
									樱花月下
								</span>
							</div>
						</a>
					</div>
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_two/img/three_03.png">
						<img src="__PUBLIC__/Shop/special/special_two/img/four_02.png">
						<img src="__PUBLIC__/Shop/special/special_two/img/four_04.png">
						<img src="__PUBLIC__/Shop/special/special_two/img/four_06.png">
						<img src="__PUBLIC__/Shop/special/special_two/img/three_04.png">
						<img src="__PUBLIC__/Shop/special/special_two/img/four_03.png">
						<img src="__PUBLIC__/Shop/special/special_two/img/four_05.png">
						<img src="__PUBLIC__/Shop/special/special_two/img/three_02.png">
					</div>
				</div>
			</div>
		</div>
		
		<!--第三屏-->
		<div class="three clearfix">
			<!--3_01-->
			<div class="son">
				<img src="__PUBLIC__/Shop/special/special_two/img/three_01.png" style="border: 0;">
			</div>
			
			<!--3_02-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_two/img/three_02.png" class="ts_img">
					<div class="bg">
						<h4>樱花月下</h4>
						<span>憧憬在樱花下拥抱的那份美好，也憧憬花前月下的幸福。<br>仿真樱花呈枝状，衔接覆盖式的平铺，有一定厚度的同时，也同样具有层次感。<br></span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/155.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
			
			<!--3_03-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_two/img/three_03.png">
					<div class="bg">
						<h4>Lian之恋</h4>
						<span>双层矩形叠加，补充处使用水晶链结合马蹄莲，多层次呈现花艺之美。<br>设计更丰满更立体。<br>设计中，需用到方管及铁丝网，才能悬挂匀称。</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/131.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
			
			<!--3_04-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_two/img/three_04.png">
					<div class="bg">
						<h4>绣球藤</h4>
						<span>自成一体的流线型花材，垂坠感极佳，可悬挂，可缠绕，也可做点缀。</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/144.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--第四屏-->
		<div class="three clearfix">
			<!--4_01-->
			<div class="son">
				<img src="__PUBLIC__/Shop/special/special_two/img/four_01.png" style="border: 0;">
			</div>
			
			<!--4_02-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_two/img/four_02.png">
					<div class="bg">
						<h4>紫藤</h4>
						<span>个别区域也称之为豆藤，虽名为“紫”藤，紫色却使用较少，白绿/黄绿，使用较多。<br>紫藤与绣球藤等藤类，常常搭配使用。</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/130.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
			
			<!--4_03-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_two/img/four_03.png">
					<div class="bg">
						<h4>灯光足迹</h4>
						<span>灯带借助铁艺的形状，打造自己的行走轨迹，打造出发光“造型”。<br>灯带使用频率较高，也可搭配其他形状物体，如镂空雕花板等。</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/139.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
			
			<!--4_04-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_two/img/four_04.png">
					<div class="bg">
						<h4>玻璃星球</h4>
						<span>在悬挂物中，玻璃球属于相对小型装饰物。<br>其特点是，可在灯光的配合下，闪烁发光，又可容纳花瓣，拍摄仰视层细节时，玻璃球是首选。</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/136.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
			
			<!--4_05-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_two/img/four_05.png">
					<div class="bg">
						<h4>花艺圆环</h4>
						<span>花艺圆环，早已不是创新的装饰方法，但在花材形状上变化，仍然有极大的创新空间。</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/156.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
			
			<!--4_06-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_two/img/four_06.png">
					<div class="bg">
						<h4>星幕</h4>
						<span>冰纱布艺与串灯相结合，可变化多种效果，多用于厅高较高或者室外场地，本装饰需要大量TRUSS架，建议大型婚礼使用。</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/158.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	
	<script>
		window.onload = function(){
			$(".two .son").show();
			var two_bg_h = $(".two .bg").height();
			$(".two .son").css("height",two_bg_h);
			var two_big_h = $(".two .son .big").height();
			$(".two .son .big").css("width",two_big_h);
			var two_son_w = $(".two .son").width();
			var two_big_w = $(".two .son .big").width();
			var s_b_p_left = (two_son_w-two_big_w)/2;
			$(".two .son .big").css("left",s_b_p_left);
			var b_s_a_h = $(".big .small a").height()+'px';
			$(".big .small a").css("line-height",b_s_a_h);
			//二屏图片			
			$(".big .small a").mousemove(function(){
				var ii = $(this).parent().index();
				var j = $(this).index();
				if(ii == 0){
					$('.big .img img').eq(j).show();
				}else if(ii == 1){
					$('.big .img img').eq(j+4).show();
				}
				$(this).find(".hide").show();
			})
			$(".big .small a").mouseout(function(){
				var ii = $(this).parent().index();
				var j = $(this).index();
				if(ii == 0){
					$('.img img').eq(j).hide();
				}else if(ii == 1){
					$('.img img').eq(j+4).hide();
				}
				$(this).find(".hide").hide();
			})
			//三四屏遮罩
			var i_w = $(".three .son .ts_img").width();
			var i_h = $(".three .son .ts_img").height();
			$(".three .son .bg").css({"width":i_w,"height":i_h})
			$(".three .son .beset").mousemove(function(){
				$(this).find(".bg").show();
			});
			$(".three .son .beset").mouseout(function(){
				$(this).find(".bg").hide();
			});
		};
	</script>
</html>
