<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>幻紫迷城</title>
		<link rel="stylesheet" href="__PUBLIC__/Shop/special/special_six/css/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/Shop/special/special_six/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/Shop/special/special_six/js/jquery-3.1.1.min.js" ></script>
	</head>
	<body><include file="Common/special" />
		<!--首屏-->
		<div class="zero">
			<img src="__PUBLIC__/Shop/special/special_six/img/index_00.png">
		</div>
		<div class="one">
			<img src="__PUBLIC__/Shop/special/special_six/img/index_01.png">
		</div>
		
		<!--二屏-->
		<div class="two">
			<div class="son">
				<h2>如何布置迎宾区</h2>
				<div class="font">
					<p>春暖乍寒也更雨，朦胧紫影，倒映芙蓉沼，落英纷纷花满地，一帘幽梦两相思。对紫色的执着爱恋，浪漫着我对你的情意。那不可一世的紫色成了我灵魂的点缀，我一直对你，情有独钟。是你那灵动的舞步婀娜了我的视线；是你那飘逸的身姿，在我紫色的幻境里拉长了，我对你的思念 。</p>
					<p>一场紫色宫殿婚礼，将紫色渲染的华丽而精美。</p>
					<p>竖版背景，特立独行的背景设计方式，竖向延伸视野范围。</p>
					<p>依然能收获气势恢弘的背景效果。</p>
					<p>本空间设计适应空间较高的场地。</p>
				</div>
				<div class="t_left">
					<img src="__PUBLIC__/Shop/special/special_six/img/two_01.png" width="359" height="359">
				</div>
				<div class="t_cot">
					<img src="__PUBLIC__/Shop/special/special_six/img/two_02.png" width="684" height="325">
				</div>
				<div class="t_right">
					<img src="__PUBLIC__/Shop/special/special_six/img/two_03.png" width="300" height="300">
				</div>
			</div>
		</div>
		
		<!--单品介绍-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_six/img/bg_b.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_six/img/three_01.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_six/img/kx_01.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_01.png) no-repeat;">
							<b>产品名称：</b>
							<span>背景板</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/166">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_six/img/three_02.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_six/img/kx_02.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_02.png) no-repeat right;">
							<b>产品名称：</b>
							<span>悬挂水晶灯</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/128.html">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--2-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_six/img/bg_f.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_six/img/three_03.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_six/img/kx_03.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_03.png) no-repeat;">
							<b>产品名称：</b>
							<span>水晶帘</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/127.html">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_six/img/three_04.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_six/img/kx_04.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_04.png) no-repeat right;">
							<b>产品名称：</b>
							<span>星光地毯</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/184.html">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--3-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_six/img/bg_b.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_six/img/three_05.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_six/img/kx_05.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_05.png) no-repeat;">
							<b>产品名称：</b>
							<span>落地水晶灯</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/192">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_six/img/three_06.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_six/img/kx_06.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_06.png) no-repeat right;">
							<b>产品名称：</b>
							<span>LED彩灯串</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/132.html">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--4-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_six/img/bg_f.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_six/img/three_07.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_six/img/kx_07.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_07.png) no-repeat;">
							<b>产品名称：</b>
							<span>亚克力方柱路引</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/185.html">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_six/img/three_08.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_six/img/kx_08.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_08.png) no-repeat right;">
							<b>产品名称：</b>
							<span>金色圣诞球</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/186.html">查看详情</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	
	<script>
		var num = $(".three .right_02 li").length;
		$(".three .right_02 li").click(function(){
			$(this).find("a").addClass("current").parent().siblings().find("a").removeClass("current");
			var li_index = $(this).index();
			$(this).parent().siblings(".three .left_01").find("li").eq(li_index).show().siblings().hide();
			$(this).parent().siblings(".three .left_02").find("li").eq(li_index).show().siblings().hide();
			$(this).parent().siblings(".three .right_03").find("li").eq(li_index).show().siblings().hide();
		});
	</script>
</html>
