<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>樱粉签到区</title>
		<link rel="stylesheet" href="__PUBLIC__/Shop/special/special_five/css/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/Shop/special/special_five/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/Shop/special/special_five/js/jquery-3.1.1.min.js" ></script>
	</head>
	<body><include file="Common/special" />
		<!--首屏-->
		<div class="zero">
			<img src="__PUBLIC__/Shop/special/special_five/img/index_00.png">
		</div>
		<div class="one">
			<img src="__PUBLIC__/Shop/special/special_five/img/index_01.png">
		</div>
		
		<!--二屏-->
		<div class="two">
			<div class="son">
				<h2>如何布置迎宾区</h2>
				<div class="font">
					<p>樱瓣上韵着天下的温柔，眼波中流露着温暖的情愫，转那双深澈智慧的眼光，可见淡袖红妆，可听见琴声笑语，都显出温柔，光明和欢喜，深幽妩媚，白云飞卷，霞光灿然，似乎和着诗韵，动之我爱悦与恋慕。</p>
					<p>樱粉色签到背景，公主裙的桌围，少女心十足的装饰，可满足一切有少女情怀的新娘。</p>
					<p>婚礼展示区的体现方法有很多中，我们可以用欧式浪漫的纱幔也可以用设计感较强的喷绘还可以用造型多变的KT板来展示。可以用灯光来营造不同的氛围，再采用一些精美的小摆件以及花艺来进行搭配。</p>
				</div>
				<div class="t_left">
					<img src="__PUBLIC__/Shop/special/special_five/img/two_01.png" width="359" height="359">
				</div>
				<div class="t_cot">
					<img src="__PUBLIC__/Shop/special/special_five/img/two_02.png" width="684" height="325">
				</div>
				<div class="t_right">
					<img src="__PUBLIC__/Shop/special/special_five/img/two_03.png" width="300" height="300">
				</div>
			</div>
		</div>
		
		<!--单品介绍-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_five/img/bg_b.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_five/img/three_01.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_five/img/kx_01.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_01.png) no-repeat;">
							<b>产品名称：</b>
							<span>镂空雕花PVC板</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/166.html">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_five/img/three_02.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_five/img/kx_02.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_02.png) no-repeat right;">
							<b>产品名称：</b>
							<span>金色相框</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/167.html">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--2-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_five/img/bg_f.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_five/img/three_03.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_five/img/kx_03.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_03.png) no-repeat;">
							<b>产品名称：</b>
							<span>灯柱路引</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/5.html">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_five/img/three_04.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_five/img/kx_04.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_04.png) no-repeat right;">
							<b>产品名称：</b>
							<span>桌裙</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/168.html">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--3-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_five/img/bg_b.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_five/img/three_05.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_five/img/kx_05.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_05.png) no-repeat;">
							<b>产品名称：</b>
							<span>烛台</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/170
">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_five/img/three_06.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_five/img/kx_06.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_06.png) no-repeat right;">
							<b>产品名称：</b>
							<span>金色台灯</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/169.html">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--4-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_five/img/bg_f.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_five/img/three_07.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_five/img/kx_07.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_07.png) no-repeat;">
							<b>产品名称：</b>
							<span>欧式蜡烛</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/171.html">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_five/img/three_08.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_five/img/kx_08.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_08.png) no-repeat right;">
							<b>产品名称：</b>
							<span>假书</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/172.html">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--5-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_five/img/bg_b.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_five/img/three_09.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_five/img/kx_09.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_09.jpg) no-repeat;">
							<b>产品名称：</b>
							<span>郁金香</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/173.html">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_five/img/three_10.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_five/img/kx_10.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_10.jpg) no-repeat right;">
							<b>产品名称：</b>
							<span>蛋糕架</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/174.html">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--6-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_five/img/bg_f.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_five/img/three_11.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_five/img/kx_11.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_11.png) no-repeat;">
							<b>产品名称：</b>
							<span>欧式水晶烛台</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/229">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_five/img/three_12.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_five/img/kx_12.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_12.jpg) no-repeat right;">
							<b>产品名称：</b>
							<span>贝壳相框</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/175.html">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--7-->
		<div class="product">
			<img src="__PUBLIC__/Shop/special/special_five/img/bg_b.png" class="product_bg">
			<div class="son">
				<div class="top">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_five/img/three_13.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_five/img/kx_13.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_13.png) no-repeat;">
							<b>产品名称：</b>
							<span>复古花瓶</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/176.html">查看详情</a>
					</div>
				</div>
				<div class="bot">
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_five/img/three_14.jpg" class="sp">
						<img src="__PUBLIC__/Shop/special/special_five/img/kx_14.png" class="kx">
					</div>
					<div class="content">
						<div class="xh" style="background: url(./img/cx_14.png) no-repeat right;">
							<b>产品名称：</b>
							<span>白色花瓶</span>
						</div>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/177.html">查看详情</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	
	<script>
		var num = $(".three .right_02 li").length;
		$(".three .right_02 li").click(function(){
			$(this).find("a").addClass("current").parent().siblings().find("a").removeClass("current");
			var li_index = $(this).index();
			$(this).parent().siblings(".three .left_01").find("li").eq(li_index).show().siblings().hide();
			$(this).parent().siblings(".three .left_02").find("li").eq(li_index).show().siblings().hide();
			$(this).parent().siblings(".three .right_03").find("li").eq(li_index).show().siblings().hide();
		});
	</script>
</html>
