<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>商城专题——第四季</title>
		<link rel="stylesheet" href="__PUBLIC__/Shop/special/special_frou/css/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/Shop/special/special_frou/css/style.css" />
		<script type="text/javascript" src="__PUBLIC__/Shop/special/special_frou/js/jquery-3.1.1.min.js" ></script>
	</head>
	<body><include file="Common/special" />
		<!--首屏-->
		<div class="one">
			<img src="__PUBLIC__/Shop/special/special_frou/img/index_01.png">
		</div>
		
		<!--第二屏-->
		<div class="two">
			<img src="__PUBLIC__/Shop/special/special_frou/img/index_02.png" class="bg">
			<div class="son">
				<div class="big">
					<div class="small small1">
						<a href="javascript:;">02
							<div class="hide">
								<span>
									花团锦簇
								</span>
							</div>
						</a>
						<a href="javascript:;">04
							<div class="hide">
								<span>
									花语
								</span>
							</div>
						</a>
						<a href="javascript:;">06
							<div class="hide">
								<span>
									星球
								</span>
							</div>
						</a>
						<a href="javascript:;">08
							<div class="hide">
								<span>
									樱花伞
								</span>
							</div>
						</a>
					</div>
					<div class="small small2">
						<a href="javascript:;">03
							<div class="hide">
								<span>
									花的思念
								</span>
							</div>
						</a>
						<a href="javascript:;">05
							<div class="hide">
								<span>
									蝴蝶
								</span>
							</div>
						</a>
						<a href="javascript:;">07
							<div class="hide">
								<span>
									樱竹缘
								</span>
							</div>
						</a>
						<a href="javascript:;">01
							<div class="hide">
								<span>
									薄雾朦胧
								</span>
							</div>
						</a>
					</div>
					<div class="img">
						<img src="__PUBLIC__/Shop/special/special_frou/img/three_03.png">
						<img src="__PUBLIC__/Shop/special/special_frou/img/four_02.png">
						<img src="__PUBLIC__/Shop/special/special_frou/img/four_04.png">
						<img src="__PUBLIC__/Shop/special/special_frou/img/four_06.png">
						<img src="__PUBLIC__/Shop/special/special_frou/img/three_04.png">
						<img src="__PUBLIC__/Shop/special/special_frou/img/four_03.png">
						<img src="__PUBLIC__/Shop/special/special_frou/img/four_05.png">
						<img src="__PUBLIC__/Shop/special/special_frou/img/three_02.png">
					</div>
				</div>
			</div>
		</div>
		
		<!--第三屏-->
		<div class="three clearfix">
			<!--3_01-->
			<div class="son">
				<img src="__PUBLIC__/Shop/special/special_frou/img/three_01.png" style="border: 0;">
			</div>
			
			<!--3_02-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_frou/img/three_02.png" class="ts_img">
					<div class="bg">
						<h4>薄雾朦胧</h4>
						<span>薄纱打造的朦胧夜空<br/>像是少女的白纱裙下，那份神秘<br/>让人无限憧憬，又虔诚的不忍亵渎</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/152.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
			
			<!--3_03-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_frou/img/three_03.png">
					<div class="bg">
						<h4>花团锦簇</h4>
						<span>水晶包围下的花儿，更像是与月争辉的美人<br/>不会因为月光的皎洁而黯淡失色<br/>而会借着月光，更加光彩夺目</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/162.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
			
			<!--3_04-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_frou/img/three_04.png">
					<div class="bg">
						<h4>花的思念</h4>
						<span>丝带与花朵的组合并不新奇<br/>重点是将相互搭配的颜色选对</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/133.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--第四屏-->
		<div class="three clearfix">
			<!--4_01-->
			<div class="son">
				<img src="__PUBLIC__/Shop/special/special_frou/img/four_01.png" style="border: 0;">
			</div>
			
			<!--4_02-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_frou/img/four_02.png">
					<div class="bg">
						<h4>花语</h4>
						<span>花和羽毛，一个曼妙一个轻盈<br/>她们在一起，是美的</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/129.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
			
			<!--4_03-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_frou/img/four_03.png">
					<div class="bg">
						<h4>蝴蝶</h4>
						<span>栩栩如生，恍若早已翩翩起舞<br/>原来它也是闻到了这花香的幸福</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/140.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
			
			<!--4_04-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_frou/img/four_04.png">
					<div class="bg">
						<h4>星球</h4>
						<span>星空主题不可少的元素之一<br/>泡沫球拥有极强的可塑造性，推荐使用</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/163.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
			
			<!--4_05-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_frou/img/four_05.png">
					<div class="bg">
						<h4>樱竹缘</h4>
						<span>樱花，竹节，圆形绣蓬，<br/>形状之间，足见韵味</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/164.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
			
			<!--4_06-->
			<div class="son">
				<div class="beset">
					<img src="__PUBLIC__/Shop/special/special_frou/img/four_06.png">
					<div class="bg">
						<h4>樱花伞</h4>
						<span>透明樱花伞，配合环境中朦胧环境<br/>营造神秘感<br/>关于雨伞，使用中还需考虑新人观念与习俗</span>
						<a href="http://wp.c-wia.com/Shop/Goods/details/id/143.html" class="sub">查看详情</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	
	<script>
		window.onload = function(){
			$(".two .son").show();
			var two_bg_h = $(".two .bg").height();
			$(".two .son").css("height",two_bg_h);
			var two_big_h = $(".two .son .big").height();
			$(".two .son .big").css("width",two_big_h);
			var two_son_w = $(".two .son").width();
			var two_big_w = $(".two .son .big").width();
			var s_b_p_left = (two_son_w-two_big_w)/2;
			$(".two .son .big").css("left",s_b_p_left);
			var b_s_a_h = $(".big .small a").height()+'px';
			$(".big .small a").css("line-height",b_s_a_h);
			//二屏图片			
			$(".big .small a").mousemove(function(){
				var ii = $(this).parent().index();
				var j = $(this).index();
				if(ii == 0){
					$('.big .img img').eq(j).show();
				}else if(ii == 1){
					$('.big .img img').eq(j+4).show();
				}
				$(this).find(".hide").show();
			})
			$(".big .small a").mouseout(function(){
				var ii = $(this).parent().index();
				var j = $(this).index();
				if(ii == 0){
					$('.img img').eq(j).hide();
				}else if(ii == 1){
					$('.img img').eq(j+4).hide();
				}
				$(this).find(".hide").hide();
			})
			//三四屏遮罩
			var i_w = $(".three .son .ts_img").width();
			var i_h = $(".three .son .ts_img").height();
			$(".three .son .bg").css({"width":i_w,"height":i_h})
			$(".three .son .beset").mousemove(function(){
				$(this).find(".bg").show();
			});
			$(".three .son .beset").mouseout(function(){
				$(this).find(".bg").hide();
			});
		};
	</script>
</html>
