<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <!-- Loading Bootstrap -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <!-- Loading Flat UI -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="dist/js/vendor/html5shiv.js"></script>
	      <script src="dist/js/vendor/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<div class="alert alert-success">编辑</div>
		<form action="" method="post">
		<div class="form-group">
			<label for="exampleInputEmail1">淘宝订单号</label>
			<input id="exampleInputEmail1" class="form-control" type="text" placeholder="请输入淘宝订单号" name="tb_number" value="{$data['tb_number']}">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">快递类型</label>
			<select name="ems_id" id="province" class="form-control">
				<option value="">-请选择-</option>
				<foreach name='ems' item='v' key='k'>
					<option value="{$v['id']}" <eq name="data['ems_type_id']" value="$v['id']">selected="selected"</eq> >{$v.title}</option>
				</foreach>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">快递单号</label>
			<input id="exampleInputEmail1" class="form-control" type="text" placeholder="请输入快递单号" name="ems_number" value="{$data['ems_number']}">
		</div>
		<button class="btn btn-primary btn-block" type="submit"> 确定 </button>
		</form>
	</body>
</html>
