<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <!-- Loading Bootstrap -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <!-- Loading Flat UI -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
	</head>
	<body>
		<div class="alert alert-success">编辑标签</div>
		<form action="" method="post">
		<div class="form-group">
			<label for="exampleInputEmail1">标签名</label>
			<input id="exampleInputEmail1" class="form-control" type="text" placeholder="请输入标签名" name="name"value="{$data['name']}">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">所属分类</label>
			<select name="category_id" class="form-control">
				<foreach name="cate" key="k" item="v">
					<option value="{$v.cid}" <eq name="data['category_id']" value="$v['cid']"></eq> >{$v.cname}</option>
				</foreach>
			</select>
		</div>
		<input type="hidden" name="id" value="{$data['id']}">
		<button class="btn btn-primary btn-block" type="submit"> 确定 </button>
		</form>
	</body>
</html>
