<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
   
</head>
<body>
	<div class="alert alert-success">添加类型</div>
	<form action="" method="post">
	<div class="form-group">
		<label for="exampleInputEmail1">类型</label>
		<input type="text" name="tname" class="form-control" placeholder="类型名">
	</div>
	<button class="btn btn-primary btn-block" type="submit"> 确定 </button>
	</form>
</body>
</html>
