<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <!-- Loading Bootstrap -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <!-- Loading Flat UI -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
	    <script src="__PUBLIC__/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="dist/js/vendor/html5shiv.js"></script>
	      <script src="dist/js/vendor/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<table class="table table-hover">
			<tr class="active">
			  <th>序号</th>
			  <th>商家名称</th>
			  <th>负责人</th>
			  <th>手机号</th>
			  <th>公司座机</th>
			  <th>邮箱</th>
			  <th>地区</th>
			  <th width="150">操作</th>
			</tr>
			<foreach name='data' item='v' key='k'>
				<tr>
					<td>{$k+1}</td>
					<td>{$v['p_name']}</td>
					<td>{$v['leagal_person']}</td>
					<td>{$v['mobile_phone']}</td>
					<td>{$v['phone']}</td>
					<td>{$v['email']}</td>
					<td>{$v['area']}</td>
					<td>
						<a href="javascript:;" class="btn btn-sm btn-primary agree" merchant_id = "{$v['photo_id']}">同意</a>
						<a href="javascript:;" class="btn btn-sm btn-danger refuse" merchant_id = "{$v['photo_id']}">拒绝</a>
					</td>
				</tr>
			</foreach>
		</table>
		<script type="text/javascript">
//			同意审核方法
			$(".agree").click(function(){
				var name = 'agree';
				var id = $(this).attr('merchant_id');
				var obj = $(this).parents('tr');
				step(name,id,obj);
			})
//			拒绝通过方法
			$(".refuse").click(function(){
				var name = 'refuse';
				var id = $(this).attr('merchant_id');
				var obj = $(this).parents('tr');
				step(name,id,obj);
			})
			
//			创建异步方法,判断是同意还是拒绝
			function step(name,id,obj){
				$.ajax({
					type:"post",
					url:"{:U('audit')}",
					data:{name:name,id:id},
					dataType:'json',
					success:function(phpdata){
						if(phpdata.type){
							obj.remove();
						}
						alert(phpdata.content);
					}
				});
			}
		</script>
	</body>
</html>
