@charset "utf-8";

*{margin:0;padding:0;font-size:12px;line-height:22px;color:#666;}
body{background:url(../images/body_bg.jpg);}
.float{float:left;}
.clear{clear:both;line-height:0;}

#nav{background:url(../images/pic_repeat_x.png) repeat-x;padding:0 0 4px 0;}
#nav ul li{float:left;display:inline;}
#nav ul li a{_float:left;display:block;text-align:center;width:83px;font-size:14px;color:#000;line-height:50px;font-family:"微软雅黑",Arial;text-decoration:none;background:url(../images/pic_ilike.png) no-repeat -200px 0;}
#nav ul li a.link,#nav ul li a:hover{background-position:-92px 0;}
#nav ul li a.hover{background-position:12px 0;}
#main{width:1244px;margin:auto;}

#main ul{*overflow:hidden;_height:1%;}

#main ul li{border:1px solid #CCC;border-bottom:2px solid #CCC;border-top:1px solid #DBDBDB;float:left;display:inline;list-style:none;margin:6px 0;background:#FFF;width:230px;}
#main ul li.hover{border:1px solid #81D8D0;border-bottom:1px solid #81D8D0;}
#main ul li img{width:230px;display:block;margin-bottom: 3px;}
#main ul li img.hover{filter:Alpha(opacity=90);-moz-opacity:.9;opacity:0.9;}
#main ul li .ya{width: 10px;height: 15px;background: #fff;border-top-left-radius: 20px;border-top-right-radius:20px ;position: relative;top: -13px;float: left;}
#main ul li h3,#main ul li p{padding:10px;font-weight:normal;}
#main ul li p img{
	float: left;
	width: 40px;
	height: 40px;
	position: relative;
	top: -5px;
	left: -5px;
}
/*#main ul li p{background:#F3F0FF;line-height:30px;}*/

.img_block{position:relative;padding:0px;}
.img_block #board{position: absolute;z-index:10;right:0px;display:none;}
.zoom{position:absolute;line-height:25px;padding:0 0 2px 0px;text-align:center;top:14px;display:block;color: #fff;}
.ilike{position:absolute;line-height:25px;padding:0 0 2px 18px;text-align:center;top:14px;display:block;text-decoration:none;background:url(../images/pic_ilike.png) no-repeat -200px 0;}
.zoom{left:14px;width:62px;text-align: center;background-color: #79B6C8;border-radius:5px;} 
.ilike{right:14px;width:57px;background-position:0 -140px;}
.ilike:hover{background-position:0 -167px;}
.zoom1{position:absolute;line-height:25px;padding:0 0 2px 0px;text-align:center;top:14px;display:block;color: #fff;}
.ilike1{position:absolute;line-height:25px;padding:0 0 2px 18px;text-align:center;top:14px;display:block;text-decoration:none;background:url(../images/pic_ilike.png) no-repeat -200px 0;}
.zoom1{left:14px;width:62px;text-align: center;background-color: #79B6C8;border-radius:5px;} 
.ilike1{right:14px;width:57px;background-position:0 -140px;}
.ilike1:hover{background-position:0 -167px;}
.like{position:absolute;line-height:25px;padding:0 0 2px 0px;text-align:center;color: #fff;top:14px;display:block;text-decoration:none;}
.like{right:14px;width:62px;text-align: center;background-color: #79B6C8;border-radius:5px;}

.iNum,.iNum a{background:url(../images/pic_ilike.png) no-repeat 0 -528px;padding:0 0 6px 28px;line-height:11px;}
.iNum{background-position:12px -522px;}
.iNum a{background-position:12px -550px;text-decoration:none;}

.loading{text-align:center;padding:30px 0;}

body{
	background:url(../../../../../Fist/zhengti_bj.png);
	font-family:"微软雅黑";
	font-size:12px;
	color:#999999;
}  
a {
  text-decoration: none;
  color:#efb26f;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
img  
{  
  border:none;
  max-width:100%;
  outline-width:0px;  
  vertical-align:top;  
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1} 
.boximg_w{
	width:232px;
}
#lead {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #D9D9D7;
}
#lead .center {
  width: 1244px;
  height: 48px;
  margin: 0 auto;
}
#lead .center .left {
  height: 48px;
  float: left;
}
#lead .center .left a.logo {
  display: block;
  width: 80px;
  height: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  margin-right: 25px;
}
#lead .center .left a.text {
  display: block;
  margin-right: 25px;
  float: left;
  line-height: 48px;
  font-size: 14px;
  font-family: "helvetica neue", arial, sans-serif;
  color: #444444;
}
#lead .center .left a.text:hover {
  color: #C90000;
}
#lead .center .left a.text.dot {
  display: block;
  width: 24px;
  height: 28px;
  background: url(../img/menu_sprite.svg) 0px -237px no-repeat;
}
#lead .center .left a.text.active {
  color: #C90000;
}
#lead .center .zhong {
  float: left;
  width: 752px;
  height: 34px;
  margin-top: 7px;
  position: relative;
}
#lead .center .zhong input.serach {
  display: block;
  width: 752px;
  height: 34px;
  text-indent: 15px;
  font-family: "helvetica neue", arial, sans-serif;
  font-size: 14px;
  color: #A9A9A9;
  border: 1px solid #DDDDDD;
  line-height: 34px;
}
#lead .center .zhong span.icon {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/menu_sprite.svg) 5px -93px no-repeat;
  position: absolute;
  right: 0px;
  cursor: pointer;
  top: 1px;
}
#lead .center .right {
  width: 95px;
  height: 48px;
  border: 1px solid #F5F5F5;
  border-top: none;
  border-bottom: none;
  float: left;
  margin-left: 20px;
}
#lead .center .right a {
  display: block;
  width: 46px;
  height: 48px;
  float: left;
  line-height: 48px;
  text-align: center;
}
#lead .center .right a.message {
  background: url(../img/menu_sprite.svg) 12px -188px no-repeat;
  border-right: 1px solid #F5F5F5;
}
#lead .center .right a.headimg img {
  padding-top: 11px;
  padding-left: 10px;
  width: 26px;
  height: 26px;
}

