<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <!-- Loading Bootstrap -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <!-- Loading Flat UI -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="dist/js/vendor/html5shiv.js"></script>
	      <script src="dist/js/vendor/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<form action="" method="post">
			<div class="form-group">
				<label for="exampleInputEmail1">开馆时间</label>
				<select name="sale_time" class="form-control">
					<option value="">请选择</option>
					<option value="1">1am</option>
					<option value="2">2am</option>
					<option value="3">3am</option>
					<option value="4">4am</option>
					<option value="5">5am</option>
					<option value="6">6am</option>
					<option value="7">7am</option>
					<option value="8">8am</option>
					<option value="9">9am</option>
					<option value="10">10am</option>
					<option value="11">11am</option>
					<option value="12">12am</option>
				</select>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">闭馆时间</label>
				<select name="close_time" class="form-control">
					<option value="">请选择</option>
					<option value="1">1pm</option>
					<option value="2">2pm</option>
					<option value="3">3pm</option>
					<option value="4">4pm</option>
					<option value="5">5pm</option>
					<option value="6">6pm</option>
					<option value="7">7pm</option>
					<option value="8">8pm</option>
					<option value="9">9pm</option>
					<option value="10">10pm</option>
					<option value="11">11pm</option>
					<option value="12">12pm</option>
				</select>
			</div>
			<button class="btn btn-primary btn-block" type="submit"> 确定 </button>
		</form>
		
	</body>
</html>
