<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <!-- Loading Bootstrap -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <!-- Loading Flat UI -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="dist/js/vendor/html5shiv.js"></script>
	      <script src="dist/js/vendor/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<table class="table table-hover">
			<tr class="active">
			  <th width="10%">用户名称</th>
			  <th width="30%">评论内容</th>
			  <th width="30%">回复内容</th>
			  <th width="10%">评论时间</th>
			  <th width="10%">回复时间</th>
			  <th width="10%">操作</th>
			</tr>
			<foreach name="data['question']" item='v' key='k'>
				<tr>
					<td>{$v['member_name']}</td>
					<td>{$v['content']}</td>
					<td>暂未回复</td>
					<td>{$v['addtime']}</td>
					<td>{$v['replay_time']}</td>
					<td>
						<a href="{:U('replay_remark',array('id'=>$v['merchant_remark_id']))}" class="btn btn-sm btn-warning">回复</a>
					</td>
				</tr>
			</foreach>
			
			<foreach name="data['replay']" item='v' key='k'>
				<tr>
					<td>{$v['member_name']}</td>
					<td>{$v['content']}</td>
					<td>{$v['replay_content']}</td>
					<td>{$v['addtime']}</td>
					<td>{$v['replay_time']}</td>
					<td>
						<a href="#" class="btn btn-sm btn-danger">已回复</a>
					</td>
				</tr>
			</foreach>
		</table>
	</body>
</html>
