<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <!-- Loading Bootstrap -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <!-- Loading Flat UI -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="dist/js/vendor/html5shiv.js"></script>
	      <script src="dist/js/vendor/respond.min.js"></script>
	    <![endif]-->
	    <style type="text/css">
	    	#cont{
	    		border: 0px;
	    		outline:none;
	    	}
	    	#link{
	    		border: 0px;
	    		outline:none;
	    	}
	    </style>
	</head>
	<body>
		<form action="" method="post">
			<input type="submit" class="btn btn-primary" value="保存">
			<table class="table table-hover">
				<tr class="active">
				  <th>ID</th>
				  <th>价格范围</th>
				  <th>排序</th>
				</tr>
				<foreach name="data" item="v" key="k">
					<tr class="dex">
						<td><input type="checkbox" name="li[]" value="{$v['server_price_id']}" />{$k+1}</td>
						<td>{$v['price_part']}</td>
						<td>
							{$v['sort']}
							<input type="hidden" name="merchant_id" id="" value="{$_SESSION['merchant_id']}" />
						</td>
					</tr>
				</foreach>
			</table>
		</form>
		<script src="__PUBLIC__/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		</script>
	</body>
</html>
