<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
	    <style type="text/css">
	    	img{
	    		width: 150px;
	    	}
	    </style>
	</head>
	<body>
		<table class="table table-hover">
			<tr class="active">
			  <th>序号</th>
			  <th>预约人</th>
			  <th>联系方式</th>
			  <th>结婚日期</th>
			  <th>备注</th>
			  <th>预约日期</th>
			  <th>操作</th>
			</tr>
			<foreach name="data" item='v' key='k'>
				<tr>
					<td>{$k+1}</td>
					<td>{$v['make_name']}</td>
					<td>{$v['make_phone']}</td>
					<td>{$v['make_widing_day']}</td>
					<td>{$v['make_PS']}</td>
					<td>{$v['addtime']}</td>
					<td>
						<if condition="$v['is_page'] eq 0">
							<a href="{:U('hotel/check',array('id'=>$v['make_id']))}" class="btn btn-sm btn-primary">处理</a>
						<else />
							<a href="javascript:;" class="btn btn-sm btn-info">处理</a>
						</if>
					</td>
				</tr>
			</foreach>
		</table>
	</body>
</html>
