<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <!-- Loading Bootstrap -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <!-- Loading Flat UI -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
	    <script src="__PUBLIC__/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="dist/js/vendor/html5shiv.js"></script>
	      <script src="dist/js/vendor/respond.min.js"></script>
	    <![endif]-->
	    <style type="text/css">
	    	.form-control{
	    		width: 1000px;
	    	}
	    	span{
	    		float: right;
	    		margin-top: -40px;
	    		margin-right: 100px;
	    		font-weight: bold;
	    		font-size: 25px;
	    	}
	    </style>
	</head>
	<body>
		<div class="alert alert-success">报价规格</div>
		<form action="" method="post">
			<div class="form-group">
				<label for="exampleInputEmail1">规格名称</label>
				<input id="exampleInputEmail1" required="required" class="form-control" type="text" required="" name="type_name">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">规格类型</label>
				<select name="type" id='province' class="form-control" required="required">
					<option value="">请选择</option>
					<option value="1">婚礼形态</option>
					<option value="2">服务范畴</option>
					<option value="3">婚礼要求</option>
				</select>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">规格预算</label>
				<input id="exampleInputEmail1" required="required" value="0" class="form-control" type="text" name="add_prica"><span>元</span>
			</div>
			<button class="btn btn-primary btn-block" type="submit"> 确定 </button>
		</form>
		<script type="text/javascript">
//			给省份添加change事件
			$("#province").change(function(){
				var pid = $(this).val();
				step('city',pid);
			})
			
			$("#city").change(function(){
				var pid = $(this).val();
				step('part',pid);
			})
		
//			创建获取地区异步方法
			function step(name,pid){
				$.ajax({
					type:"post",
					url:"{:U('step_area')}",
					data:{pid:pid},
					dataType:'json',
					success:function(phpdata){
						var str = '<option value="">请选择</option>';
						$.each(phpdata, function(k,v) {
							str += '<option value="'+v.area_id+'">'+v.aname+'</option>';
						});
						$("#"+name+"").html(str);
					}
				});
			}
			
			step('province');
		</script>
	</body>
</html>
