<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>商家个人主页</title>
		<link rel="stylesheet" href="__PUBLIC__/Merchant/css/style.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/Common/css/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/Merchant/css/wenku.css" />
		<link rel="stylesheet" href="__PUBLIC__/Merchant/css/slip.css" />
	</head>
	<body>
		<nav class="w">
			<div id="center">
			<a href="#" class="logo" style="padding-right: 15px;border-right: 2px solid #C13C3D;"><img src="__PUBLIC__/Merchant/img/logo_01.png" width="98%" height="95px"></a>
			<a href="#" class="logo" style="margin-left: 15px;"><img src="{$data['merchant_message']['logo_fang']}" width="98%" height="95px"></a>
			<ul class="clearfix fr">
				<li><a href="#" class="current">店铺首页</a></li>
				<li><a href="#">嘉仕澜德</a></li>
				<li><a href="#">嘉仕澜德</a></li>
				<li><a href="#">嘉仕澜德</a></li>
				<li><a href="#">嘉仕澜德</a></li>
			</ul>
		</nav>
		<!--导航_end-->
		
		<!--轮播广告_start-->
		<div class="callbacks_container" style="position: relative;">
		    <ul class="rslides" id="slider" style="width: 100%;">
		        <li>
		          <img src="__PUBLIC__/Merchant/img/banner_001.jpg" alt="">
		          <p class="caption"></p>
		        </li>
		        <li>
		          <img src="__PUBLIC__/Merchant/img/banner_002.jpg" alt="">
		          <p class="caption"></p>
		        </li>
		    </ul>	
		    <span style="display:inline-block;width: 10px;height: 10px;border-radius: 10px;background-color: #f00;position: absolute;left:49%;bottom: 10px;z-index: 99;"></span>
		    <span style="display:inline-block;width: 10px;height: 10px;border-radius: 10px;background-color: #000;position: absolute;left:50%;bottom: 10px;z-index: 99;"></span>
		    <span style="display:inline-block;width: 10px;height: 10px;border-radius: 10px;background-color: #000;position: absolute;left:51%;bottom: 10px;z-index: 99;"></span>
		    <span style="display:inline-block;width: 10px;height: 10px;border-radius: 10px;background-color: #000;position: absolute;left:52%;bottom: 10px;z-index: 99;"></span>
		</div>
		<!--轮播广告_end-->
        
<!--后加的公司简介开始-->

<div class="wenku">
	<div class="mp4">
		<video src="__PUBLIC__/Merchant/xiongchumo.mp4" class="mp5" autoplay="autoplay"  controls>
		</video>
	</div>
	<div class="brief">
		<div class="assess">
			<div class="assess_left">
				<ul>
					<li>
						<img src="__PUBLIC__/Merchant/img/gongsijianjie_xiaotubiao_01.png" alt="" /><span>支持免费参观</span><img src="__PUBLIC__/Merchant/img/gongsijianjie_dayuhao.png" alt="" class="jiantou"/>
					</li>
					<li>
						<img src="__PUBLIC__/Merchant/img/gongsijianjie_xiaotubiao_02.png" alt="" /><span>支持满意后付款</span><img src="__PUBLIC__/Merchant/img/gongsijianjie_dayuhao.png" alt="" class="jiantou"/>
					</li>
					<li>
						<img src="__PUBLIC__/Merchant/img/gongsijianjie_xiaotubiao_03.png" alt="" /><span>支持先行赔付</span><img src="__PUBLIC__/Merchant/img/gongsijianjie_dayuhao.png" alt="" class="jiantou"/>
					</li>
				</ul>
			</div>
			<div class="assess_rigth">
				<ul>
					<li class="dong">
						动态评分
					</li>
					<li class="ping">
						设计水平&nbsp;&nbsp;<img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>
							  <img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>
							  <img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>
							  <img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>
							  <img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>&nbsp;&nbsp;5.0
					</li>
					<li class="ping">
						服务态度&nbsp;&nbsp;<img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>
							  <img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>
							  <img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>
							  <img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>
							  <img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>&nbsp;&nbsp;5.0
					</li>
					<li class="ping">
						婚礼质量&nbsp;&nbsp;<img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>
							  <img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>
							  <img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>
							  <img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>
							  <img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png" alt="" class="xin"/>&nbsp;&nbsp;5.0
					</li>
					<li class="ping">
						
					</li>
				</ul>
			</div>
		</div>
		<div class="present">
			<span class="biaoti">公司简介</span><br />
			<span class="jieshao">对每一项婚礼道具全程监查，确保在规定时间内完成。如道具为凭租形式需提供与第三方供应商的凭租协议。</span><br />
			<button>免费申请预约</button>
			<span class="yu">预约电话：</span>
			<span class="yue">010-858-9734</span>
		</div>
	</div>
</div>

		
		<!--预约弹出框_start-->
		<div class="tk_layer">
			<div class="small">
				<form class="registerform" method="post" action="">
					<table width="100%" style="table-layout:fixed;">
						<tr>
							<td class="label">Name:</td>
							<td><input type="text" value="" name="name" class="inputxt" datatype="s2-6" errormsg="姓名至少2个字,最多6个字！"/></td>
							<td><div class="Validform_checktip"></div></td>
						</tr>
						<tr>
							<td class="label">Tel:</td>
							<td><input type="text" value="" name="tel" class="inputxt" datatype="m" errormsg="请正确输入您的手机号码！"/></td>
							<td><div class="Validform_checktip"></div></td>
						</tr>
						<tr style="margin-top: 10px;">
							<td width="230px" height="30px"></td>
							<td style="margin-top: 20px;"><input type="submit" value="预    约" class="submit"/></td>
						</tr>
					</table>
					<a href="#" class="tk_close">X</a>
				</form>
			</div>			
		</div>
		<!--预约弹出框_结束-->		
		
		<!--案例展示_start-->
		<div class="case w" style="position: relative;"> 
			<p class="recommend_title">{$data['merchant']['m_name']} - 案例展示</p>
			<img src="__PUBLIC__/Merchant/img/recommend_01.png" class="recommend_hx">
				<div class="calse_gb clearfix">
					<dl>
						<dt><img src="{$data['merchant_message']['logo_yuan']}"></dt>
						<dd>
							<b>{$data['merchant']['m_name']}婚礼</b>
							<p>{$data['merchant_message']['company_des']}</p>						
						</dd>
						<dd>
							<a href="#" class="case_all">查看全部</a>
							<span class="case_classics">经典案例 →</span>
						</dd>
					</dl>
					<div class="flexslider">
						<ul class="slides">
							<foreach name="data['merchant_case']" item="v" key='k'>
								<li>
									<a href="{:U('merchant/case_show',array('id'=>$v['merchant_case_id']))}" target="_blank" style="background-image:url({$v['img_url'][0]});background-size: 100% 100%;"></a>
								</li>
							</foreach>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--案列展示_end-->
		
		<!--婚礼蛋糕_start-->
		<div class="team w ">
			<ul class="clearfix"style="overflow: hidden;">
				<foreach name="data['merchant_combo']" item='v' key='k'>
					<if condition="$v['is_show'] eq 1">
						<li class="team_img">	
				            <img src="{$v['img_url'][0]}">  
				            <div class="team_text">
				                <b>{$v['title']}</b>
				                <p></p>
				            </div>
				        </li>
			        </if>
		        </foreach>
			</ul>
		</div>
		<!--婚礼蛋糕_end-->
		
		<!--商家广告/为什么选择我们 _start-->
		<div style="margin: 10px 0;">
			<img src="__PUBLIC__/Merchant/img/guanggao.jpg" width="100%">
		</div>
	<!--评论开始-->
		<div class="comment" style="position: relative;">
			<div class="new_remark clearfix">
				<span>新人点评<label>（{$remark_num}）</label></span>
				<a href="#">更多 >></a>
			</div>
			
			<foreach name="data['merchant_remark']" item='v' key='k'>
				<div class="remark clearfix">
					<div class="remark_left">
						<p>{$v['member_name']}</p>
					</div>
					<div class="remark_right">
						<dl>
							<dt>
								<label>{$v['service_type']}</label>
								<span>搭建空间：
									<for start="0" end="$v['space_num']">
										<img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png">
									</for>
								</span>
								<span>服务：
									<for start="0" end="$v['star_num']">
										<img src="__PUBLIC__/Merchant/img/gongsijianjie_wujiaoxing.png">
									</for>
								</span>
							</dt>
							<dd>
								<p>{$v['content']}</p>
							</dd>
							<dd>
								<foreach name="v['list_img']" item='vv' key='kk'>
									<if condition="$vv neq ''">
										<img src="{$vv}" width="160px" height="90px">
									</if>
								</foreach>
							</dd>
							<dd style="margin: 0;">2016.08.15 14:09:36</dd>
						</dl>
						<ul class="replay">
							<li><label>商家</label><span>回复</span></li>
							<li><p>{$v['replay_content']}</p></li>
						</ul>
					</div>
				</div>	
			</foreach>
		</div>
		<!--问答时刻-->
		<div class="question" style="position: relative;">
			<div class="question_top clearfix">
				<span>商户问答</span>
				<a href="#">更多>></a>
			</div>
			<div class="question_center">
				<foreach name="data['merchant_discuss']" item='v' key='k'>
					<ul>
						<li><span>{$v['member_name']}</span>{$v['addtime']}</li>
						<li><p>{$v['question_content']}</p></li>
						<li><span style="color: #EFB26F;;">商户回答</span>{$v['replay_time']}</li>
						<li><p>{$v['replay_content']}</p></li>
					</ul>
				</foreach>
			</div>
			<div class="question_bottom">
				<if condition="$_SESSION['member_id']">
					<p>如果您有任何疑问，请点击<a href="#">提问</a>。</p>
				<else />
					<p>想要向商家提问，请先<a href="{:U('home/login/login')}">登录</a>或<a href="{:U('home/registe/registe')}">注册</a>。</p>
				</if>
			</div>
		</div>
		<!--评论结束-->
		
		<!--开始底部-->
		<include file="Common/footer" />
		<!--底部结束-->
		
	</body>
	<script src="__PUBLIC__/jquery-1.8.2.min.js"></script>
	<script src="__PUBLIC__/Merchant/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Merchant/js/jquery.goup.min.js"></script>
	<script src="__PUBLIC__/Merchant/js/jquery.flexslider-min.js"></script>
	<script src="__PUBLIC__/Merchant/js/Validform_v5.3.2_min.js"></script>
	<script src="__PUBLIC__/Merchant/js/responsiveslides.min.js"></script>
	<script type="text/javascript">
	//banner轮播
		$(function () {
			$("#slider").responsiveSlides({
			    auto: false,
			    pager: false,
			    nav: true,
			    speed: 500,
			    namespace: "callbacks",
			    before: function () {
			        $('.events').append("<li>before event fired.</li>");
			    },
			    after: function () {
			    	$('.events').append("<li>after event fired.</li>");
			    }
			});		
		});
	</script>
	
	<script>
	//返回顶部
        $(document).ready(function () {
            $.goup({
                trigger: 500,
                bottomOffset: 10,
                locationOffset: 10,
                title: '',
                titleAsText: true
            });           
        });
	</script>
	
	<script>
	//案例小轮播
		$(document).ready(function(){
			$('.flexslider').flexslider({
				directionNav: true,
				pauseOnAction: false
			});
		});
	</script>

	<script>
	//预约弹出框
		$(function(){
			$(document).on('click','.recommend_btn',function(){
				$('.tk_layer').show();
			})
			$(document).on('click','.tk_close',function(){
				$('.tk_layer').hide();
			})
		})
	//表单验证
		$(function(){
			//$(".registerform").Validform();  //就这一行代码！;		
			$(".registerform").Validform({
				 btnSubmit:".submit",
			});
		})
		
	</script>
	
</html>
