.footer{width: 100%;background-color: #000;height: 300px;border-top: 2px solid #79b6c8;color:#fff;}
			.footer_top{height: 150px;}
			.footer_chaining{width: 678px;height:77px;margin-top:54px;margin-left:35px;background-image: url(../Common/img/index_footer.png);}
			.footer_chaining li a{width: 95px;float: left;margin-top:35px ;color: #fff;}
			.footer_vx{width: 250px;height: 150px;padding: 0 100px;}
			.footer_vx dl{float: left;}
			.footer_vx dt{width: 100px;text-align: center;margin: 25px 0 10px;}
			.footer_bottom{height: 100px;text-align: center;padding: 25px 0;}
			.footer_bottom p{margin: 10px 0;}
			.footer_bottom p a{color: #fff;}