.body_bj{background-color: #F9F9F9;}

.sj_BreadNav{width: 100%;height: 30px;line-height: 30px;}
.sj_BreadNav li{float: left;padding: 0 3px;}
.sj_BreadNav li a{color: #666;}

.ServeArea{width:930px;margin:0 auto 20px;color: #666;}
.ServeArea_left_top{width:928px;border: 1px solid #D5D5D5;}
.ServeArea_left_top .weedclassify{width: 84px;}
.ServeArea_left_top .weedclassify li{height: 39px;line-height: 39px;text-align: center;}
.ServeArea_left_top .filtrate{width: 843px;}
.filtrate ul{position: relative;}
.filtrate ul li{float: left;margin:13px 10px;}
.filtrate ul li a{color: #666;padding: 5px;}
.filtrate ul li a.active{background-color: #EFB26F;color: #fff;}
.filtrate ul li a:hover{background-color: #F6F1EB;color: #000;}
.filtrate .region{padding-right: 60px;height: 40px;overflow: hidden;}
.filtrate .region span{display:inline-block;width:16px;height:16px;position:absolute;top:12px;right:-35px;cursor:pointer;background-image: url(../img/list_page/xl_bot.png);background-repeat:no-repeat;padding-right: 60px;}
.ServeArea_left_bot{margin-top: 42px;border: 1px solid #D6D6D6;}
.ServeArea_left_bot li{float: left;border-right: 1px solid #D6D6D6;padding: 10px 0;width: 85px;text-align: center;}
.ServeArea_left_bot a{color: #666;}
.ServeArea_left_bot a.active{color: #79B6C8;}

.StoreRank{width:930px;margin:0 auto;color: #666;}
.StoreRank_left{width:928px;border: 1px solid #D6D6D6;border-bottom:0;overflow: hidden;}
.StoreRank_left ul{padding: 15px;cursor: pointer;border-bottom: 1px solid #D6D6D6;}
.StoreRank_left ul:hover{background-color: #fff;}
.StoreRank_left ul li{float: left;border: 1px solid #D6D6D6;}

.ad_right{width: 250px;margin-left: 20px;}
.ad_right img{width: 250px;margin-bottom: 20px;}


