<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <!-- Loading Bootstrap -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <!-- Loading Flat UI -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="dist/js/vendor/html5shiv.js"></script>
	      <script src="dist/js/vendor/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<div class="alert alert-success">编辑首推分类</div>
		<form action="" method="post">
		<div class="form-group">
			<label for="exampleInputEmail1">首推分类名称</label>
			<input id="exampleInputEmail1" class="form-control" type="text" placeholder="请输入首推分类名称" name="fcname" value="{$data['fcname']}">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">所属顶级分类</label>
			<select name="category_id" class="form-control">
				<foreach name="cate" key="k" item="v">
					<option value="{$v['cid']}" <eq name="data['category_id']" value="$v['cid']">selected="selected"</eq> >{$v['cname']}</option>					
				</foreach>
			</select>
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">排序</label>
			<input id="exampleInputEmail1" class="form-control" type="text" placeholder="请输入排序" name="sort" value="100" value="{$data['sort']}">
		</div>
		<input type="hidden" name="fcid" value="{$data['fcid']}">
		<button class="btn btn-primary btn-block" type="submit"> 确定 </button>
		</form>
	</body>
</html>
