<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <!-- Loading Bootstrap -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <!-- Loading Flat UI -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">

	    <script type="text/javascript" src="__PUBLIC__/jquery-1.8.2.min.js"></script>
	    <script type="text/javascript" src="__PUBLIC__/Admin/uploadify/jquery.uploadify.min.js"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/uploadify/uploadify.css">
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="dist/js/vendor/html5shiv.js"></script>
	      <script src="dist/js/vendor/respond.min.js"></script>
	    <![endif]-->
	    <style type="text/css">
	    	img{
	    		width: 150px;
	    	}
	    </style>
	</head>
	<body>
		<table class="table table-hover">
			<tr class="active">
			  <th width="10%">序号</th>
			  <th width="25%">商品名称</th>
			  <th width="25%">添加时间</th>
			  <th width="10%" >操作</th>
			</tr>
			<foreach name="data" item='v' key='k'>
				<tr>
					<td>{$k+1}</td>
					<td>{$v['gname']}</td>
					<td><?php echo date('Y-m-d H:i:s',$v['addtime'])?></td>
					<td>
						<a href="{:U('goods_add',array('gid'=>$v['gid'],'id'=>$id,'sort'=>$sort))}" class="btn btn-sm btn-success">添加</a>
					</td>
				</tr>
			</foreach>
		</table>
	</body>
</html>
