<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>嘉仕澜德——结婚就上嘉仕澜德</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/Common/css/header.css" />
		<link rel="stylesheet" href="__PUBLIC__/Home/Common/css/reset.css" />
		<script type="text/javascript" src="__PUBLIC__/jquery-1.8.2.min.js"></script>
	</head>
	<body>
	<!--header start-->
		<div class="header">
			<div class="w clearfix">
				<div class="header_left fl">
					<span><img src="__PUBLIC__/Home/Common/img/index_dw.png" /></span>
					<span class="c_gray">北京</span>
					<span><a href="#" class="c_blue">[切换]</a></span>
				</div>
				<div class="header_right fr">
					<span><a href="#">登录</a></span>
					<span><a href="#">注册</a></span>
					<span style="color: #999;">咨询电话：400-800-1888</span>
				</div>
			</div>
		</div>
	<!--header end-->
	
	<!--nav start-->
		<div class="nav w">
			<div class="nav_one clearfix">
				<a href="#" class="fl"><img src="__PUBLIC__/Home/Common/img/index_logo.png"></a>
				<form method="get" action="#" class="fl">
					<select class="fl">
						<option>热门搜索</option>
						<option>婚礼人员</option>
						<option>定制道具</option>
						<option>婚庆公司</option>
					</select>
					<input class="fl" type="text" value="" placeholder="婚礼灵感 婚庆公司 免费策划 免费报价"/>
					<a href="#" class="nav_button fl"></a>
				</form>	
				<div class="fl">
					<a href="#" class="tb_app">APP</a>
					<a href="#" class="tb_app">APP</a>
					<a href="#" class="tb_app">APP</a>
					<a href="#" class="tb_app">APP</a>
				</div>
			</div>
			<ul class="fl">
				<li><a href="{:U('home/index/index')}" class="current">首页</a></li>
				<li><a href="{:U('home/waterfall/index')}">空间灵感</a></li>
				<li><a href="#">策划与报价</a></li>
				<li><a href="#">结婚攻略▼</a></li>
				<li><a href="{:U('home/merchant/list_page')}">结婚品牌</a></li>
				<li><a href="#">DIY计划▼</a></li>
				<li><a href="#">结婚商城</a></li>
			</ul>
			<div class="nav_free fr">
				<a href="#">免费策划</a>
				<a href="#">免费报价</a>
			</div>
		</div>
	<!--bav end-->
	
	<!--content start-->
	<!--content end-->
	
	<!--banner start-->
	<!--banner end-->
	</body>
</html>
