<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
	    <!-- Loading Bootstrap -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
	    <!-- Loading Flat UI -->
	    <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
	    <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
	    <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
	    <script type="text/javascript" src="__PUBLIC__/jquery-1.8.2.min.js"></script>
	    <script type="text/javascript" src="__PUBLIC__/Admin/uploadify/jquery.uploadify.min.js"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/uploadify/uploadify.css">
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="dist/js/vendor/html5shiv.js"></script>
	      <script src="dist/js/vendor/respond.min.js"></script>
	    <![endif]-->
	</head>
	<style type="text/css">
		li{
			list-style: none;
		}
	</style>
	<body>
		<form action="" method="post">
		<table class='table table-bordered'>
			<tr>
				<th colspan="3" class="btn btn-primary">图片上传<span>【
						<switch name="data['sort']">
							<case value="1">347*230</case>
							<case value="2">347*155</case>
							<case value="3">198*198</case>
							<case value="4">198*187</case>
							<case value="5">347*230</case>
							<case value="6">347*155</case>
						</switch>
				】</span></th>
			</tr>
			<tr class="info">
				<td style="width: 100px;">上传图片</td>
				<td lab="uploadFile">
					<input type="file" name='pic' id='pic' />
					<script type="text/javascript">
						$(function() {
							$('#pic').uploadify({
								'formData': {
									"<?php echo session_name();?>": "<?php echo session_id();?>",
								},
								'fileTypeDesc': '上传文件',
								'fileTypeExts': '*.jpg;*.png',
								'swf': '__PUBLIC__/Admin/uploadify/uploadify.swf',
								'uploader': "{:U('admin/common/upload',array('name'=>'ccate'))}",
								'buttonText': '选择文件',
								'fileSizeLimit': '8000KB',
								'uploadLimit': 1000, //上传文件数
								//					                'width':65,
								//					                'height':25,
								'successTimeout': 10, //等待服务器响应时间
								'removeTimeout': 0.2, //成功显示时间
								'onUploadSuccess': function(file, data, response) {
									//转为json
									data = $.parseJSON(data);
									//获得图片地址
									var imageUrl = data;
									var li = "<li style='float: left;'><img style='height: 100px;' src='__UPLOAD__" + imageUrl + "'/><input type='hidden' name='img' value='" + imageUrl + "'/>";
									$("#uploadList").html(li);
								}
							});
						});
					</script>
				</td>
				<td id="uploadList">
					<li style='float: left;'><img style='height: 100px;' src='__UPLOAD__{$data["img"]}'/><input type='hidden' name='img' value='{$data["img"]}'/>
				</td>
			</tr>
		</table>
		<button class="btn btn-primary btn-block" type="submit"> 确定 </button>
		</form>
	</body>
</html>
