<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>视频</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/reset.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/videos_style.css">
<script src="__PUBLIC__/jquery-1.8.2.min.js"></script>
</head>

<body>
<include file="Common/header_two" />
<!--  top end-->
<div class="content">
<!--videos start-->
<!--<div class="w"><video width="100%" src="{$list['video_url']}" controls autoplay></video></div>-->
<div class="w"><video width="100%" src="__PUBLIC__/Merchant/xiongchumo.mp4" controls autoplay></video></div>
<!--videos end-->

<!--content2 start-->
<div>
	<div class="content2 clearfix">
    	<h1>热点视频推荐</h1>
        <div class="left fl">
             <div id="wrapper"><!-- 最外层部分 -->
                <div id="banner"><!-- 轮播部分 -->
                    <ul class="imgList"><!-- 图片部分 -->
                        <foreach name="re" item="val" key="key">
                          	<if condition="$val['box']['is_bananer'] eq 2">
				                <li><a href="#"><img src="__UPLOAD__{$val['box']['video_height_img']}" width="370px" height="510px" alt="puss in boots1"></a></li>
                          	</if>
                        </foreach>
	                </ul>
	                <div>
	                    <img src="__PUBLIC__/Home/img/new/vedio/prev.png" width="50px" height="40px" id="prev">
	                    <img src="__PUBLIC__/Home/img/new/vedio/next.png" width="50px" height="40px" id="next">
	                    <img src="__PUBLIC__/Home/img/new/vedio/videos_hot.png" id="hot">
	                </div>
                </div>
            </div>
        </div>
        <div class="right fr">
        	<ul>
        		<foreach name="re" item="val" key="key">
                   	<if condition="$val['box']['is_hot'] eq 2">
	            		<li><a href="#"><img src="__UPLOAD__{$val['box']['video_height_img']}" width="190" height="245"></a></li>
	            	</if>
        		</foreach>
            </ul>
        </div>
    </div>
</div>
<!--content2 end-->
<!--content3 start-->

<foreach name="data" item="val" key="key">
	<if condition="($key%2+1) eq 1">
		<div class="why1">
	<else />
		<div class="why2">
	</if>
	
		<div class="biaoti">
	        	<h1>{$val['box']['type_name']}</h1>
	            <p>{$val['box']['type_des']}</p>
		</div>
		<div class="content3">
			<foreach name="val['box']['new_video']" item="v" key="k">
			        <dl>
				        <a href="">
				        	<dt><img src="__UPLOAD__{$v['list_img']}"></dt>
				            <dd></dd>
				            <span>{$v['video_title']}</span>
				        </a>
			        </dl>
			</foreach>
	    </div>
	</div>
</foreach>
<div class="why3">
	<div class="content5">
    	<img src="__PUBLIC__/Home/img/new/vedio/videos_c5_datu.png">
    </div>
</div>
<!--content5 end-->
</div>

<!--footer start-->
<include file="Common/bottom" />
</body>









<script type="text/javascript">
  var curIndex = 0, //当前index
      imgLen = $(".imgList li").length; //图片总数
     // 定时器自动变换2.5秒每次
  var autoChange = setInterval(function(){ 
    if(curIndex < imgLen-1){ 
      curIndex ++; 
    }else{ 
      curIndex = 0;
    }
    //调用变换处理函数
    changeTo(curIndex); 
  },3500);
   //左箭头滑入滑出事件处理
  $("#prev").hover(function(){ 
    //滑入清除定时器
    clearInterval(autoChange);
  },function(){ 
    //滑出则重置定时器
    autoChangeAgain();
  });
  //左箭头点击处理
  $("#prev").click(function(){ 
    //根据curIndex进行上一个图片处理
    curIndex = (curIndex > 0) ? (--curIndex) : (imgLen - 1);
    changeTo(curIndex);
  });
  
  //给轮播图添加移入移出事件
   $("#banner").hover(function(){ 
    //滑入清除定时器
    clearInterval(autoChange);
  },function(){ 
    //滑出则重置定时器
    autoChangeAgain();
  });
  
  //右箭头滑入滑出事件处理
  $("#next").hover(function(){ 
    //滑入清除定时器
    clearInterval(autoChange);
  },function(){ 
    //滑出则重置定时器
    autoChangeAgain();
  });
  //右箭头点击处理
  $("#next").click(function(){ 
    curIndex = (curIndex < imgLen - 1) ? (++curIndex) : 0;
    changeTo(curIndex);
  });
  //对右下角按钮index进行事件绑定处理等
  $(".indexList").find("li").each(function(item){ 
    $(this).hover(function(){ 
      clearInterval(autoChange);
      changeTo(item);
      curIndex = item;
    },function(){ 
      autoChangeAgain();
    });
  });
  //清除定时器时候的重置定时器--封装
  function autoChangeAgain(){ 
      autoChange = setInterval(function(){ 
      if(curIndex < imgLen-1){ 
        curIndex ++;
      }else{ 
        curIndex = 0;
      }
    //调用变换处理函数
      changeTo(curIndex); 
    },3500);
    }
  function changeTo(num){ 
    var goLeft = num * 370;
    $(".imgList").animate({left: "-" + goLeft + "px"},510);
    $(".infoList").find("li").removeClass("infoOn").eq(num).addClass("infoOn");
    $(".indexList").find("li").removeClass("indexOn").eq(num).addClass("indexOn");
  }
  </script>
</html>
